@keyframes movement {
  0% {left:100px;}
  100% {left:700px;}
}

@keyframes grow {
  from {height:100px;}
  to {height:300px;}
}

@keyframes color-change {
  0% {background-color: gainsboro;}
  25% {background-color: firebrick;}
  50% {background-color: mediumspringgreen;}
  75% {background-color: midnightblue;}
  100% {background-color: mediumvioletred;}

}
.box {
  width: 100px;
  height: 100px;
  background-color: forestgreen;
  position:relative;
  animation: movement 5s, color-change 5s infinite alternate;
}

.box:hover {
  background-color: fuchsia;
}

.box:active {
  background-color: orange;
}

input:focus {
  background-color: yellow;
}
