<nav>
  <a href="/">Home</a>
  <a href="/new">New Post</a>
</nav>
<h1>Welcome to Practice Site</h1>

<% @posts.each do |post| %>
</div>
  <div class="">
    <h3><a href="/<%= post[:id] %>"><%= post[:title] %></a></h3>
    <p><%= post[:body] %></p>
  </div>
<% end %>
