<form class="" action="/<%= @post[:id] %>" method="post">
  <div class="">
    <label for="title">Title</label>
    <input type="text" name="title" placeholder="Enter Title" value="<%= @post[:title] %>">
  </div>
  <div class="">
    <label for="body"></label>
    <input type="textarea" name="body" placeholder="Enter body of the post" value="<%= @post[:body] %>">
  </div>
  <div class="">
    <input type="submit" name="" value="Save Post">
  </div>

  <% if @post[:id] != "" %>
  <input type="hidden" name="_method" value="put">
  <% end %>
</form>
