body {
  background-color: gainsboro;
  margin: 0;
}

.content {
  background-color: orange;
  margin: 5px;
  padding: 50px;
}

.flex-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: wrap row;
  align-items: center;
  justify-content: center;
}

.box1 {
  flex: 1;
  order:3;
}

.box2 {
  flex:1;
  order:2;
}

.box3 {
  flex:5;
  flex-shrink: 5;
  order:4;
}

.box4 {
  flex:1;
  order:1;
}
