
h1,h4 {
  color:#E13A63;
}

h4 {
  margin-top:30px;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0px;
}

#logo {
  width:100px;
  margin-top:7px;
}

#headshot {
  border: 2px solid #E13A63;
  border-radius: 100%;
  height: 100%;
  width: 100%;
  display: block;
}

.navbar {
  background-color: #01181b;
}

.navbar a {
  list-style: none;
  text-decoration: none;
  color: white;
}

.navbar li {
  display: inline-block;
  padding: 0px 10px 10px 0px;
}

.navbar a:hover {
  color: grey;
}

.main-content {
  margin: 0 80px;
}

@media (max-width: 550px) {
  #headshot {
    display: none;
  }
}

@media (max-width: 1080px) {
  #headshot {
    width: 100%;
    height: 100%;
  }
}
