<h1><%= @post[:title] %></h1>

<p><%= @post[:body] %></p>

<a href="/<%= @post[:id] %>/edit">Edit</a>

<form class="" action="/<%= @post[:id] %>" method="post">
  <input type="submit" name="delete" value="Delete Post">
  <input type="hidden" name="_method" value="delete">
</form>
