* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  margin: 0;
}

.header {
  text-align: center;
  background: #1abc9c;
  color: white;
  padding: 60px;
}

/* style the top navigation bar */
.navbar {
  display: flex;
  background-color: #333;

}

/* style the navigation bar links */
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* change colour on hover */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* column container */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* create two unequal columns that sit next to eachother */
/* sidebar/left column */
.side {
  flex: 25%;
  background-color: #FAFAFA;
  padding: 20px;
}

/* main column */
.main {
  flex: 75%;
  background-color: white;
  padding: 20px;
}

.main p {
  columns: 2;
}

.img {
  width: 100%;
  background-color: gainsboro;
  text-align: center;
  padding: 20px;
}

.img-row {
  background-color: #333;
  flex: 1;
  padding: 20px;
}

.content {
  flex: 1;
  background-color: gainsboro;
  padding: 20px;
}

.footer {
  text-align: center;
  background-color: white;
  padding: 20px;
}
