<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1 class="title">List of all maps</h1>
    </div>
  </div>
</div>
<div class="map_container">
  <% @maps.each do |map| %>
      <div class="card" style="width: 30rem;">
        <div class="card-container">
          <h4><b><%= map['name'] %></b></h4>
          <a class="link" href="/maps/<%= map['name'] %>">More Info</a>
        </div>
      </div>
  <% end %>
</div>
